<div>
    <h2>Create Recipe</h2>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div formGroupName="product">
        <label for="productName">Product:</label>
        <!-- Use select dropdown for product selection -->
        <select id="productName" formControlName="productName">
          <option value="" disabled selected>Select Product</option>
          <!-- Use productName as value -->
          <option *ngFor="let product of productionProducts" [value]="product.productName">{{ product.productName }}</option>
        </select>
      </div>
      
  
      <div formArrayName="ingredients" *ngIf="ingredientsArray">
        <div *ngFor="let ingredientGroup of ingredientsArray.controls; let i = index" [formGroupName]="i">
          <label for="name{{i}}">Name:</label>
          <!-- Replace input field with select dropdown -->
          <select id="name{{i}}" formControlName="name" required>
            <option value="" disabled selected>Select Material</option>
            <option *ngFor="let material of rawMaterials" [value]="material.materialName">{{ material.materialName }}</option>
          </select>
      
          <label for="quantity{{i}}">Quantity:</label>
          <input type="text" id="quantity{{i}}" formControlName="quantity" required>
      
          <button type="button" (click)="removeIngredient(i)">Remove</button>
        </div>
      </div>
      
      
      
      
  
      <button type="button" (click)="addIngredient()">Add Ingredient</button>
  
      <button type="submit">Create Recipe</button>
    </form>
  </div>
  