<div th:insert="~{header.html}"></div>
<h1>Stock Details</h1>
<table>
    <thead>
    <tr>
        <th>Stock ID</th>
        <th>Material Name</th>
        <th>Quantity</th>

        <th>Last Stock Update Date</th>
        <th>Unit Price</th>
        <th>previous Price</th>
        <th>Price Increase</th>
        <th>Price Decrease</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stock : ${stockSummary}">
        <td th:text="${stock.stockId}"></td>
        <td th:text="${stock.rawMaterial.materialName}"></td>

        <td th:text="${stock.quantity}"></td>
        <td th:text="${stock.lastStockUpdateDate}"></td>
        <td th:text="${stock.unitPrice}"></td>
        <td th:text="${stock.previousPrice}"></td>
        <td th:text="${stock.increase + '%'}"></td>
        <td th:text="${stock.decrease + '%'}"></td>





    </tr>
    </tbody>
</table>
<hr>
<div th:insert="~{footer.html}"></div>