<div th:insert="~{header.html}"></div>

<div class="container mt-4">
    <h2>Product List</h2>

    <div class="row">
        <div th:each="product : ${products}" class="col-md-3 mb-4">
            <div class="card">
                <img th:src="@{${product.imageUrl}}" alt="Product Image" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold"><a th:href="@{'/product/details/' + ${product.id}}" th:text="${product.name}"></a></h5>
                    <p class="card-text font-weight-bold" th:text="${'Description: ' + product.description}"></p>
                    <p class="card-text font-weight-bold">Batch Number: <span th:text="${product.batchNumber}"></span></p>
                    <p class="card-text font-weight-bold">Price: <span th:text="${'$' + product.price}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="~{footer.html}"></div>
