<div th:insert="~{header.html}"></div>


<div class="container mt-5">
    <h2 class="mb-4">Supplier Information Form</h2>

    <form th:action="@{/saveSupplier}" th:object="${supplier}" method="post">

        <div class="form-group">
            <label for="supplierName">Supplier Name:</label>
            <input type="text" id="supplierName" name="supplierName" class="form-control"
                   th:field="*{supplierName}" required>
        </div>

        <div class="form-group">
            <label for="companyName">Company Name:</label>
            <input type="text" id="companyName" name="companyName" class="form-control"
                   th:field="*{supplierCompanyName}" required>
        </div>

        <div class="form-group">
            <label for="contactInfo">Contact Info:</label>
            <input type="text" id="contactInfo" name="contactInfo" class="form-control"
                   th:field="*{supplierContactInfo}" required>
        </div>

        <button type="submit" class="btn btn-primary">Save Supplier</button>
    </form>
</div>


<div th:insert="~{footer.html}"></div>

