<div th:insert="~{header.html}"></div>


<div class="container mt-5">
    <h2 class="mb-4">Payment Form</h2>

    <form th:action="@{/savePayment}" th:object="${payment}" method="post">

        <div class="form-group">
            <label for="procurementId">Procurement:</label>
            <select id="procurementId" name="procurementId" class="form-control" th:field="*{procurement.id}" required>

                <option th:each="procurement : ${procurements}" th:value="${procurement.id}" th:text="${procurement.id}"></option>

            </select>
        </div>


        <div class="form-group">
            <label for="paymentAccount">Payment Account:</label>
            <input type="text" id="paymentAccount" name="paymentAccount" class="form-control"
                   th:field="*{paymentAccount}" required>
        </div>

        <div class="form-group">
            <label for="paymentAmount">Payment Amount:</label>
            <input type="text" id="paymentAmount" name="paymentAmount" class="form-control"
                   th:field="*{paymentAmount}" required>
        </div>

        <div class="form-group">
            <label for="paymentDate">Payment Date:</label>
            <input type="date" id="paymentDate" name="paymentDate" class="form-control"
                   th:field="*{paymentDate}" required>
        </div>

        <button type="submit" class="btn btn-primary">Save Payment</button>

    </form>
</div>


<div th:insert="~{footer.html}"></div>