<div th:insert="~{header.html}"></div>


<div class="container mt-5">

    <h2 class="mb-4">Raw Material Form</h2>
    <form th:action="@{/saveRawMaterial}" th:object="${rawMaterial}" method="post">

        <div class="form-group">
            <label for="materialName">Material Name:</label>
            <input type="text" id="materialName" name="materialName" class="form-control"
                        th:field="*{materialName}" required>
        </div>

        <div class="form-group">
            <label for="materialType">Material Type:</label>
            <input type="text" id="materialType" name="materialType" class="form-control"
                      th:field="*{materialType}" required>

        </div>

        <button type="submit" class="btn btn-primary">Save Raw Material</button>
    </form>



</div>

<div th:insert="~{footer.html}"></div>
