<div th:insert="~{header.html}"></div>
<div class="container mt-5">
    <h1>Payment Details of </h1>
    <h2  th:text="${payment.paymentID}"></h2>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Payment Id</th>
            <td th:text="${payment.paymentID}"></td>
        </tr>
        <tr>
            <th>Payment Date</th>
            <td th:text="${#dates.format(payment.paymentDate, 'yyyy-MM-dd')}"></td>
        </tr>
        <tr>
            <th>Payment Amount</th>
            <td th:text="${payment.paymentAmount}"></td>
        </tr>

        <tr>
            <th>Procurement Id</th>
            <td th:text="${payment.procurement.getId()}"></td>
        </tr>

        <tr>
            <th>Supplier Name</th>
            <td th:text="${payment.procurement.supplier.getSupplierName()}"></td>
        </tr>

        <tr>
            <th>Material Name</th>
            <td th:text="${payment.procurement.rawMaterial.getMaterialName()}"></td>
        </tr>

        <tr>
            <th>Total Quantity</th>
            <td th:text="${payment.procurement.getQuantity()}"></td>
        </tr>



        <tr>
            <th>Total Price</th>
            <td th:text="${payment.procurement.getTotalPrice()}"></td>
        </tr>

        <tr>
            <th>Payment Account</th>
            <td th:text="${payment.paymentAmount}"></td>
        </tr>

        </tbody>
    </table>
</div>
<hr>


<button id="generatePdfBtn" class="btn btn-primary">Generate PDF</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js"></script>



<script>
    document.getElementById('generatePdfBtn').addEventListener('click', function () {
        // Create an element to hold the content you want to convert to PDF
        var contentElement = document.getElementById('pdfContent');

        // Configuration options for html2pdf
        var options = {
            margin: 10,
            filename: 'payment_details.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };

        // Delay to allow time for content to render
        setTimeout(function () {
            // Use html2pdf library to generate the PDF
            html2pdf().from(contentElement).set(options).outputPdf().then(function (pdfDataUrl) {
                // Prompt the user to download the PDF file
                var a = document.createElement('a');
                a.href = pdfDataUrl;
                a.download = 'payment_details.pdf';
                a.click();
            });
        }, 1000); // You can adjust the delay as needed
    });
</script>

<div th:insert="~{footer.html}"></div>
